In [1]:
import pandas as pd

In [2]:
games = pd.read_csv("nba_games.csv", index_col=0)

In [3]:
games.head()

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240,240,39,81,0.481,6,20,0.300,14,18,...,22.8,29.0,178,111,DAL,95,1,2016,09/12/2015,True
1,240,240,36,100,0.360,7,31,0.226,16,19,...,50.0,32.6,152,111,ATL,98,0,2016,09/12/2015,False
2,240,240,37,85,0.435,8,19,0.421,17,23,...,20.0,30.9,148,116,SAS,107,1,2018,18/10/2017,False
3,240,240,41,89,0.461,8,21,0.381,17,19,...,28.6,30.9,138,118,MIN,99,0,2018,18/10/2017,True
4,240,240,27,86,0.314,6,26,0.231,15,20,...,16.8,30.9,157,90,MEM,92,1,2021,30/04/2021,False

In [4]:
games.shape

(17772, 150)

In [5]:
games["team"].value_counts()

GSW    655
BOS    653
TOR    635
MIL    628
MIA    617
CLE    610
HOU    610
LAC    607
PHI    605
UTA    605
DEN    603
POR    603
OKC    595
DAL    593
SAS    593
ATL    590
PHO    590
MEM    585
IND    583
LAL    581
BRK    580
WAS    580
NOP    571
ORL    565
CHI    558
MIN    558
CHO    556
DET    556
SAC    554
NYK    553
Name: team, dtype: int64

In [6]:
games[games["team"] == "GSW"].sort_values("date")

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
15567,240,240,31,79,0.392,7,35,0.200,29,33,...,50.0,29.0,250,102,POR,123,0,2021,01/01/2021,False
16686,240,240,46,86,0.535,17,32,0.531,14,21,...,17.6,29.2,163,127,UTA,116,1,2022,01/01/2022,True
1633,240,240,47,96,0.490,21,48,0.438,11,14,...,29.4,30.8,231,131,CHO,111,0,2017,01/02/2017,True
1196,240,240,48,90,0.533,18,35,0.514,17,19,...,27.4,28.7,139,139,CLE,112,1,2020,01/02/2020,True
13810,240,240,43,96,0.448,20,46,0.435,18,18,...,23.1,34.6,230,138,SAS,120,1,2022,01/02/2022,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358,240,240,46,84,0.548,17,30,0.567,25,35,...,33.3,36.1,218,131,NOP,120,1,2016,31/10/2015,True
12751,240,240,47,89,0.528,16,32,0.500,21,30,...,31.6,26.8,149,132,NOP,121,0,2019,31/10/2018,True
10092,240,240,43,84,0.512,11,23,0.478,17,27,...,20.5,34.3,157,124,HOU,110,1,2016,31/12/2015,True
8348,240,240,46,84,0.548,14,28,0.500,26,32,...,50.0,44.5,137,134,PHO,109,1,2019,31/12/2018,True
14560,265,265,44,96,0.458,12,27,0.444,13,18,...,50.0,25.9,175,120,SAS,117,1,2020,31/12/2019,False

In [7]:
games["season"].value_counts()

2022    2646
2016    2632
2018    2624
2019    2624
2017    2618
2021    2342
2020    2286
Name: season, dtype: int64

In [8]:
games.dtypes

mp             int64
mp.1           int64
fg             int64
fga            int64
fg%          float64
              ...
total_opp      int64
home_opp       int64
season         int64
date          object
won             bool
Length: 150, dtype: object

In [9]:
del games["mp.1"]

In [10]:
del games["+/-"]

converting existing column to a date time then overiding the existing column with the date time.

In [11]:
games["date"] = pd.to_datetime(games["date"], format="%d/%m/%Y")

In [12]:
games["target"] = (games["won"] == "True").astype("int")

In [13]:
games

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240,39,81,0.481,6,20,0.300,14,18,0.778,...,29.0,178,111,DAL,95,1,2016,2015-12-09,True,0
1,240,36,100,0.360,7,31,0.226,16,19,0.842,...,32.6,152,111,ATL,98,0,2016,2015-12-09,False,0
2,240,37,85,0.435,8,19,0.421,17,23,0.739,...,30.9,148,116,SAS,107,1,2018,2017-10-18,False,0
3,240,41,89,0.461,8,21,0.381,17,19,0.895,...,30.9,138,118,MIN,99,0,2018,2017-10-18,True,0
4,240,27,86,0.314,6,26,0.231,15,20,0.750,...,30.9,157,90,MEM,92,1,2021,2021-04-30,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240,35,81,0.432,11,26,0.423,27,36,0.750,...,33.7,160,118,OKC,92,0,2019,2018-10-19,True,0
17768,240,37,74,0.500,13,25,0.520,26,37,0.703,...,30.0,139,129,ORL,108,1,2017,2016-12-14,True,0
17769,240,42,89,0.472,14,33,0.424,10,20,0.500,...,29.9,175,126,LAC,113,0,2017,2016-12-14,False,0
17770,240,41,85,0.482,9,26,0.346,26,30,0.867,...,27.1,150,126,MIA,106,1,2020,2020-09-19,True,0
17771,240,33,85,0.388,12,44,0.273,28,34,0.824,...,36.2,141,114,BOS,117,0,2020,2020-09-19,False,0

In [14]:
games.dtypes

mp                   int64
fg                   int64
fga                  int64
fg%                float64
3p                   int64
                 ...
home_opp             int64
season               int64
date        datetime64[ns]
won                   bool
target               int32
Length: 149, dtype: object

Creating predictors for machine learning

Venue says whether the team played at a home game or an away game

In [17]:
games ["home_code"] = games["home"].astype("category").cat.codes